.object-cover {
    object-fit: cover;
}

a {
    text-decoration: none;
}

.btn{
    & :hover {
        color: #7093C5
    }
}

//article
.tag, .tag-edit {
    border-radius: 15px;
    padding: .3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag {
    background: #ddd;
    font-weight: bold;
}

.tag-edit {
    background: #f4d3ad;
}

.tag-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f4d3ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}